.hero__bgImg-decor {
    position: absolute;
    top: calc(95% + 36px);
    left: calc(73% + 1px);
    z-index: -2;
    display: inline-block;
    width: 100%;
    max-width: 84px;
    height: 349px;
    background: linear-gradient(180deg, #bca5ff00 0%, #214D76 100%), #ffffff99;
    border: 1px solid #000000;
    filter: blur(123px);
}


.hero__title {
    line-height: 100px !important;
}

@media only screen and (max-width:768px) {
    .hero__title{
        line-height: 50px !important;
    }
}


.hero__decor {
    filter: blur(213px);
}

.bg-heroBimg {
    background-position: calc(100% + 1px) calc(9% + 8px);
    
}

.hero__spann {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero__center::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 2px;
    background-image: -webkit-linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    
}

.arrowUp {
    position: absolute;
    top: 49px;
    right: 47px;
    width: 23px;
    height: 23px;
}

@media only screen and (max-width: 1024px) {
    .hero__center {
        top: 10px;
        left: 0%;
        padding: 18px 10px;
    }
    
    .hero__center::after {
        height: 65px;
        border-radius: 9%;
    }
    
    .arrowUp {
        top: 21px;
        left: 111px;
    }
}

.get__start {
    display: inline-block;
    position: relative;
    
}

.after\:content-\[\'\|\'\]::after {
    width: 1px;
    margin-right: 2%;
}
